.wrapperList {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  align-items: center;
  justify-content: space-between;
}

ul {
  color: black;
  list-style: none; //убрать точки у списка
  display: flex;
  flex-direction: column; //столбиком
  align-items: center; //выравнивание по центру
  gap: 18px;
}
