.card__image > img {
  width: 100px;
  height: 100px;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

/* При наведении - увеличиваем картинку */
.card__image:hover > img {
  transform: scale(1.1);
}

.card__image > ul {
  color: black;
  list-style: none;
  display: inline-block;
  flex-direction: column;
  align-items: baseline;
  gap: 18px;
}
