.wrapper {
  height: 60px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(50, 30, 161);

  a {
    color: #fff;
    text-decoration: none;
  }

  &_logo {
    font-size: 20px;
    height: 56px;
  }

  &_title {
    color: chocolate;
  }

  &_nav {
    display: inline;
  }

  ul {
    color: aqua;
    list-style: none;

    gap: 18px;
  }
}
