.wrapper {
  height: 60px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #173f5f;

  a {
    color: #fff;
    text-decoration: none;
  }

  &_logo {
    font-size: 20px;
    height: 60px;
  }

  &_title {
    color: chocolate;
  }

  &_nav {
    & > ul {
      list-style: none;
      display: flex;
      gap: 15px;
      height: 5px;
    }
  }
  .name {
    color: #fff;
  }
}
